@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Raleway');

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    overflow: visible;
}

:root {
    /* Pallet */
    --clr-dark: #0A0908;
    --clr-secundary: #49111C;
    --clr-light: #F2F4F3;
    --clr-lightShade: #A9927D;
    --clr-darkShade: #5E503F;

    --shadow: 0 0 5px 2px var(--clr-secundary);

    /* Fonts */
    --font-big: "Shadows Into Light", sanserif;
    --font-main: "Raleway", sanserif;

    --radius: .5rem;
    --pading: 1rem;
}

body {
    font-family: var(--font-main);

}

#root{
    min-height: 100vh;
}

main{
    padding-top: calc(var(--pading)*2);
    background-color: var(--clr-lightShade);
    min-height: 100vh;


}

h1 {
    font-family: var(--font-big);
    text-align: center;
}

img {
    max-height: 100%;
    max-width: 100%;
}

/* Header */

.title {
    background-color: var(--clr-secundary);
    color: var(--clr-light);
    letter-spacing: 2px;
    word-spacing: 3px;
    text-transform: uppercase;
}

.jombotron {
    background-image: url("./images/gheader.jpg");
    background-size: cover ;
    background-blend-mode: multiply;
    background-attachment: fixed;
    padding: 15vh 1em;
}

.jombotron p {
    padding:.5rem;
    background-color: rgba(255,255,255,.85);
    border-radius: var(--radius);
    text-align: center;
    font-weight: bold;
    letter-spacing: 6px;
    word-spacing: 10px;
    color: var(--clr-darkShade);
}

.jombotron strong {
    font-size: larger;
    color: var(--clr-secundary)
}


/*Navigation Bar*/
nav {
    position: sticky;
    top: 0;


}


nav ul {
    background-color: var(--clr-darkShade);
    padding: 0;
    list-style: none;
    transform-origin: top;
    transform: scale(1,0);
    position: relative;
    z-index: 10;
    height: 0;



}

ul.active{
    transform: scale(1,1);
    transition: ease-in-out 200ms;
    height: initial;

}

nav li {
     padding: 0;
    text-align: center;
    color: var(--clr-light);
}

nav a{
    padding: var(--pading);
    display: block;
    text-decoration: none;
    color: var(--clr-light);
}

.active-link,
nav a:hover{
    background-color: var(--clr-secundary);
    color: var(--clr-dark);
}

.menu-container{
    cursor:pointer;
    background-color: var(--clr-darkShade);
    color: var(--clr-light);
    padding: var(--pading);
    text-align: center;

}

/* Loader */

.loader-container{
    display: flex;
    justify-content: center;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid var(--clr-secundary);
    border-color: var(--clr-secundary) transparent var(--clr-secundary) transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

/* Error */

.error-container{
    background-color: crimson;
}


/* Products page */

.guitars-container{
    padding: var(--pading);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
}



.guitar-container {
    background-color: var(--clr-light);
    border-radius: var(--radius);
    padding: calc(var(--pading)*0.25);
    box-shadow: var(--shadow);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,1fr);

}

.guitar-container h2{
    grid-column: 1/-1;
    text-align: center;
    font-family: var(--font-big);
}

.guitar-container img {
    max-height: 9rem;
    grid-column: 1/-1;
    grid-row: 2/4;
    display: flex;
    place-self: center;
    border-radius: var(--radius);
    margin: .25rem;
    box-shadow: var(--shadow);
}

.guitar-container p {
    padding: calc(var(--pading)*0.25);
    text-align: center;
}

.guitar-container strong {
    color:var(--clr-secundary);
    font-weight: bolder;

}

.guitar-container a {
    text-decoration: none;
    color: var(--clr-secundary);
    text-transform: capitalize;
    font-family: var(--font-big);
    font-size: 1.5em;
}

.guitar-container a:hover{
    text-decoration: underline;
}

    /* Product Page*/
.product-container{
    display: grid;
    grid-gap: 1rem;
}

.product-container img {
    max-height: 30rem;
}


.product-container p {
    padding: var(--pading);
    margin: 0 .5rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    background-color: var(--clr-light);
}

.product-container button {
    cursor:pointer;
    padding: 1rem 2rem;
    font-family: var(--font-big);
    font-size: 2em;
    background-color: var(--clr-secundary);
    border: none;
    color:var(--clr-light)
}

.product-container button:hover {
   background-color: var(--clr-light);
   color: var(--clr-secundary);
}



@media only screen and (min-width: 750px) {
    :root{
        --pading: 2rem;
    }

    nav ul {
        transform: scale(1,1);
        height: initial;
        display: flex;
    }

    .menu-container{
        display: none;
    }

     /*Product Page */


    .product-container {
        padding: var(--pading);
        grid-gap: 2rem;
        grid-template-columns: repeat(10,0.5fr);
        grid-template-rows: repeat(8,0.2fr);

    }

    .product-container h1{
        grid-column: 1/-1;
    }

    .product-container img {
        width: 100%;
        height: 100%;

        grid-column: 1/6;
        grid-row:2/8;
        border-radius: var(--radius);
        box-shadow: var(--shadow);

    }

    .product-container p {
        grid-column: 6/-1;
        height: 100%;
        width: 100%;
    }
    .product-container .price {
        text-align: center;
        grid-column: 6/8;
        grid-row:5/7;
        place-self: center;
        padding: .5rem 1rem;


    }

    .product-container button {

        grid-column: 8/-1;
        grid-row:5/7;
        place-self: center;



    }


}

