@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Raleway');

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    overflow: visible;
}

:root {
    /* Pallet */
    --clr-dark: #0A0908;
    --clr-secundary: #49111C;
    --clr-light: #F2F4F3;
    --clr-lightShade: #A9927D;
    --clr-darkShade: #5E503F;

    /* Fonts */
    --font-big: "Shadows Into Light", sanserif;
    --font-main: "Raleway", sanserif;

    --radius: .5rem;
    --pading: 1rem;
}

body {
    font-family: var(--font-main);

}

#root{
    min-height: 3000px;
}

main{
    padding-top: calc(var(--pading)*3);

}

h1 {
    font-family: var(--font-big);
    text-align: center;
}

/* Header */

.title {
    background-color: var(--clr-secundary);
    color: var(--clr-light);
    letter-spacing: 2px;
    word-spacing: 3px;
    text-transform: uppercase;
}

.jombotron {
    background-image: url("./images/gheader.jpg");
    background-size: cover ;
    background-blend-mode: multiply;
    background-attachment: fixed;
    padding: 15vh 1em;
}

.jombotron p {
    padding: .5rem;
    background-color: rgba(255,255,255,.85);
    border-radius: var(--radius);
    text-align: center;
    font-weight: bold;
    letter-spacing: 6px;
    word-spacing: 10px;
    color: var(--clr-darkShade);
}

.jombotron strong {
    font-size: larger;
    color: var(--clr-secundary)
}


/*Navigation Bar*/
nav {
    position: sticky;
    top: 0;


}


nav ul {
    background-color: var(--clr-darkShade);
    padding: 0;
    list-style: none;
    transform-origin: top;
    transform: scale(1,0);
    position: relative;
    z-index: 10;
    height: 0;



}

ul.active{
    transform: scale(1,1);
    transition: ease-in-out 200ms;
    height: initial;

}

nav li {
     padding: 0;
    text-align: center;
    color: var(--clr-light);
}

nav a{
    padding: var(--pading);
    display: block;
    text-decoration: none;
    color: var(--clr-light);
}

.active-link,
nav a:hover{
    background-color: var(--clr-lightShade);
    color: var(--clr-dark);
}

.menu-container{
    cursor:pointer;
    background-color: var(--clr-darkShade);
    color: var(--clr-light);
    padding: var(--pading);
    text-align: center;

}

